@page "/"

<PageTitle>Home</PageTitle>
@* 
<h1>Hello, world!</h1>

Welcome to your new app.
 *@

 <MudText Align="Align.Center" Class="pt-10">
	 <MudText Typo="Typo.h5">
		 hhhhh
	 </MudText>
	 
	 <MudText>
		 wwwwww
	 </MudText>

 </MudText>
